[submodule "colour-datasets"]
	path = colour-datasets
	branch = develop
	url = https://github.com/colour-science/colour-datasets.git
    update = rebase
[submodule "colour-specio"]
	path = colour-specio
	branch = main
	url = https://github.com/colour-science/colour-specio.git
    update = rebase
[submodule "colour-science"]
	path = colour-science
	url = https://github.com/colour-science/colour.git
	branch = develop
    update = rebase
